<div class="banner-intro" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1-9nfcJ7-Zk);">
  <div class="container">
    <h1>Trying <strong>stuff</strong>out</h1>
    <p>Some catchy header slogan</p>
    <a class="btn btn-flat" href="#">Do something</a>
  </div>
</div>
